/* 1. header */
/* 2. main */
/* 3. footer */


body {
  font-family: roboto, sans-serif;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a{
    text-decoration: none;
    color: black;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus      {
  color: #2196f3;
}
.logo-first {
  color: black;
}
.more {
  list-style-type: none;
  color: black;
}
