:root {
  --first-text-color-black: #212121;
  --secondary-text-color-grey: #757575;
  --alternative-text-color: #2196f3;
  --secondary-alternative-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  --background-main-color-white: #ffffff;
  --background-secondary-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
}

.list {
  list-style: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--first-text-color-black);
  background-color: var(--background-main-color-white);
}
/* Шапка сайта */

.site-header {
  background-color: var(--background-main-color-white);
}

/* Логотип */

.nav {
  text-decoration: none;
  color: var(--first-text-color-black);
}
.nav .nav-text {
  color: var(--alternative-text-color);
}
/* Ссылки навигации */
.nav-list {
  text-decoration: none;
  color: var(--first-text-color-black);
  font-style: normal;
}
.nav-list:hover,
.nav-list:focus {
  color: var(--alternative-text-color);
}
.nav-list.current {
  color: var(--alternative-text-color);
}

/* main (hero) */

.hero {
  color: var(--secondary-alternative-text-color);
  background-color: var(--background-hero-footer-color);
}
.hero .hero-button {
  color: var(--secondary-alternative-text-color);
  background-color: var(--alternative-text-color);
  cursor: pointer;
}

/* What-are-we-doing */

.post {
  color: var(--secondary-text-color-grey);
}

/* Our team */

.our-team {
  background-color: var(--background-secondary-color);
}

/* Подвал */

.footer {
  background-color: var(--background-hero-footer-color);
}
.footer-nav {
  text-decoration: none;
  color: var(--secondary-alternative-text-color);
}
.footer .nav-text {
  color: var(--alternative-text-color);
}
.footer .footer-text {
  color: var(--secondary-alternative-text-color);
}
.footer .footer-link {
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}

/* next site portfolio */

.main-title-button {
    color: var(--first-text-color-black);
    background-color: var(--background-secondary-color);
    cursor: pointer;
}
.main-title-button:hover,
.main-title-button:focus {
color: var(--secondary-alternative-text-color);
background-color:var(--alternative-text-color);
}

/* main */

